* {
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: #e2e2e2;
}

.nav {
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
  border-style: solid;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.LogForm {
  margin: 60px auto auto auto;
  padding: 15px;
  background-color: #808080;
  width: 95%;
  padding: 20px;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-radius: 3px;
}

.nav a:hover {
  background-color: #e2e2e2;
}

.nav a {
  float: left;
  display: block;
  padding: 14px;
  text-decoration: none;
  height: inherit;
  color: black;
}

button {
  color: #808080;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

button:hover {
  background-color: #e2e2e2;
}
.info {
  margin: 15px;
  text-align: center;
  padding: 15px;
  background-color: #808080;
  width: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.form {
  margin: 15px;
  padding: 15px;
  background-color: #808080;
  width: 75%;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-radius: 3px;
  text-align: center;

}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

#friendname{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

#glasseswater{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

#fooddrop{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.radiobutton{
  width: 100%;
}

.logList li {
  list-style-type: none;
  padding: 2px;
}

.logListContainer {
  max-width: 1200px;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.logList {
  background-color: #808080;
  margin: 60px 5px 0px 5px;
  padding: 2vw;
  border-style: solid;
  border-radius: 3px;
}

.landing {
  background-color: #808080;
  width: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.PicOfDay {
  max-width: 60%;
  border-style: solid;
  border-radius: 5px;
}
