* {
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: #e2e2e2;
}

.particles {
  z-index: -1;
  position: absolute;
}

.nav {
  position: fixed;
  background-color: gray;
  top: 0;
  width: 100%;
  border-style: solid;
  z-index: 10;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.LogForm {
  margin: 60px auto auto auto;
  padding: 15px;
  background-color: #808080;
  width: 95%;
  padding: 20px;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-radius: 3px;
}

.nav a:hover {
  background-color: #e2e2e2;
}

.nav a {
  float: left;
  display: block;
  padding: 14px;
  text-decoration: none;
  height: inherit;
  color: black;
}

button {
  color: #808080;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.logParticles {
  z-index: -1;
  position: fixed;
}

button:hover {
  background-color: #e2e2e2;
}
.info {
  text-align: center;
  background-color: #808080;
  position: fixed;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.form {
  background-color: #808080;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-radius: 3px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

#friendname {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

#glasseswater {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

#fooddrop {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.date {
  z-index: 1;
}

.radiobutton {
  width: 100%;
}

.buttonquestion {
  line-height: 25px;
  padding-bottom: 5px;
}

.logList li {
  list-style-type: none;
  padding: 2px;
  line-height: 25px;
  padding: 5px;
}

.logListContainer {
  max-width: 1200px;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.logList {
  background-color: #808080;
  margin: 60px 5px 0px 5px;
  padding: 2vw;
  border-style: solid;
  border-radius: 3px;
}

.landing {
  background-color: #808080;
  width: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.PicOfDay {
  max-width: 60%;
  border-style: solid;
  border-radius: 5px;
}

#hamburgerNav {
  display: none;
}

@media only screen and (min-width: 600px) {
  .info {
    width: 50%;
    padding: 10px;
    margin: auto;
  }

  .form {
    padding: 10px;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .info,
  .form,
  .LogForm {
    width: 70%;
    margin: auto;
    padding: 18px;
  }

  .LogForm  {
    margin-top: 28px;
    margin-bottom: 20vw;
  }

  .logList {
    margin: 40px auto;
    width: 70%;
  
  }

  /*hamburger*/
  .nav {
    display: none;
  }

  #hamburgerNav {
    display: block;
    position: sticky;
    top: 20px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 10px;
  }

  #hamburgerNav input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #hamburgerNav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    margin-left: 8px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #hamburgerNav span:first-child {
    transform-origin: 0% 0%;
  }

  #hamburgerNav span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #hamburgerNav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  #hamburgerNav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #hamburgerNav input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #hamburgerNav input:checked ~ ul {
    display: block;
  }

  #hamburgerLinks {
    position: absolute;
    margin: -100px 0 0 -35px;
    padding: 30px;
    padding-top: 100px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #hamburgerLinks ul {
    border-style: solid;
    border: black;
  }

  #hamburgerLinks li {
    padding: 4px;
    margin: 3px;
    font-size: 14px;
    border-style: solid;
    width: 55px;
    text-align: center;
    background-color: gray;
  }

  #hamburgerLinks li:hover {
    background-color: #e2e2e2;
  }

  #hamburgerNav input:checked ~ ul {
    transform: none;
  }
}
